

.menu { 
    background:#1B1C1D;
    margin-bottom: 20px;
}

.item {
    display:inline-block;
    padding: 0.5em 1em;
    font-size:1em;
    line-height:1.4em;
    color: #ccc;
    background:#1B1C1D;
    text-decoration: none;
}
.item:hover {
    background:#4B4C4D;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color:#fff;
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    
}

.item.active {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background:var(--active-color);
    color:#fff;
}

.active.item:hover {
   background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
   color:#fff;
}

.menu .extIcons {
    text-shadow: none;
    cursor:pointer;
    color:#eee;
}

.lightColor {
    opacity:0.1
}